.column-left DIV.content-wrapper-t1 {
    BACKGROUND-POSITION: 0px -126px
}
.column-left DIV.content-wrapper-1 {
    BACKGROUND-IMAGE: url(./../images/content_wrapper_edges_with.png)
}
.column-left DIV.content-wrapper-b1 {
    BACKGROUND-POSITION: 0px -166px
}


.column-left DIV.content-wrapper-2 {
    PADDING-LEFT: 0px
}



.leftbanner  {
    width: 180PX;
    MARGIN-TOP: 5px;
}

/* CSS Document */

